<html>
    <head>
        <title>
              {{title}}  
        </title>
      <link rel="stylesheet" href="../css/header.css"
        {{>headerStyling}}
    </head>
    <body>
        {{>header}}
    <header style="text-align:inherit;">
        <h1>Something went wrong </h1>
        <div style="margin: 35px;">return <a href="/"><u>Home</u></a></div>
    </header>
    </body>
</html>