<!-- NAVBAR-->
<nav class="navbar py-3 navbar-dark bg-info shadow-sm ml-0">
  <div class="container">
    <a href="/" class="navbar-brand">
      <!-- Logo Image -->
      <img src="./img/weatherIcon.png" width="45" alt="" class="d-inline-block mr-2">
      <!-- Logo Text -->
      <span class="text-uppercase font-weight-bold"></span>Weather
    </a>
  </div></nav>

<header>
    <h1> {{title}}</h1>
<div class="navv">
    <a href="/weather">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    </div>
 
</header>

<!-- FOR DEMO PURPOSE-->
